<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xsi:schemaLocation="NLog NLog.xsd"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    autoReload="true"
    throwConfigExceptions="true"
    internalLogLevel="Error"
	internalLogToConsole="true"
    internalLogFile="internal-nlog.txt">

	<extensions>
		<add assembly="NLog.Extensions.Logging"/>
		<add assembly="NLog.Web.AspNetCore" />
	</extensions>
	<targets>
		<target xsi:type="File" name="file"
			fileName="current.log"
			layout="${date:format=yyyy-MM-dd HH-mm-sszzz} 
				; ${uppercase:${level}} 
				; ${logger}
				; ${message} ${exception:format=ToString,StackTrace}"
			archiveFileName="archive_${shortdate}.log"
			archiveNumbering="Date"
			maxArchiveFiles="5"
			archiveDateFormat="yyyy-MM-dd_HH.mm.ss"
			concurrentWrites="true"
			enableArchiveFileCompression="false"
			encoding="utf-8" />


		<target name="Console" xsi:type="Console"  layout="${longdate} ${logger} ${level} ${message}"/>

		<!--<target name="telegram"
						xsi:type="WebService"
						url="https://api.telegram.org/bot${environment:LogTelegramToken}/sendMessage"
						protocol='JsonPost'
						encoding='UTF-8'>
			<parameter name="">
				<layout xsi:type="JsonLayout">
					<attribute name='chat_id' layout='${environment:LogTelegramChannel}' />
					<attribute name="text" layout="${environment:LogTelegramSource}; ${newline}${message};" />
				</layout>
			</parameter>
		</target>-->

	</targets>
	<rules>
		<logger name="*" minlevel="Info" writeTo="Console"/>
		<logger name="*" minlevel="Info" writeTo="file"/>
		<!--<logger name="*" minlevel="Info" writeTo="file">
			<filters defaultAction='Ignore'>
				<when condition="contains('${message}','LoggedUserInfo')" action="Log" />
			</filters>
		</logger>-->
	</rules>
</nlog>
