@page "/"

<PageTitle>Ural with love Bot</PageTitle>

<h1>Ural with love. Управление ботом</h1>
<pre>
Примерный список функций бота

1. Ожидаемые события (где, что, в какие числа)
время проведения (диапазон дат)
название
описание html
место (см. Интересные места)

2. Интересные места
название
краткое описание (опционально)
адрес
координаты (опционально)

4. Рандомные факты об Урале
текст

5. Поездка выходного дня
маршрут, мб, комбинация интересных мест

6. Telegram miniapp для взаимодействия с контентом

</pre>